@model Autor;

<form asp-action="Create" asp-controller="Autor" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-3 mb-3">
            <label asp-for=AutorName class="form-label"></label>
            <input type="text" class="form-control" asp-for="AutorName" placeholder="Nome do Autor">
            <span asp-validation-for="AutorName" class="text-danger"></span>
        </div>
        <div class="col-6 mb-3">
            <label asp-for=AutorImgUrl class="form-label">Imagem Autor</label>
            <input class="form-control" type="file" name="ImageFile" accept=".jpg,.jpeg,.png">
        </div>
    </div>
   
    <button class="btn-primary" type="submit">Submit</button>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}