@model Autor
<div class="card" style="width: 18rem;">
	<img src=@Model.AutorImgUrl class="card-img-top" style="margin-top:5px;" alt="...">
	<div class="card-body">
		<h5 class="card-title">@Model.AutorName</h5>
		<a href="#" class="btn btn-primary" style="background-color:var(--marrom-secundary);">Detalhes</a>
	</div>
</div>