<div class="dropdown">
    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
       Autores
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" asp-controller="Autor" asp-action="Index">Lista de autores</a></li>
        <li><a class="dropdown-item" asp-controller="Autor" asp-action="Create">Criar autor</a></li>
    </ul>
</div>